.box-layout {
  align-items: center;
  background: url('/img/bg.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  height: 100vh; //viewport height
  width: 100vw; //viewport width
}

.box-layout__box {
  background: fade-out(white, .2);
  border-radius: 15px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}