.text-input {
  border: 1px solid #cacccd;
  height: 50px;
  font-size: $font-size-large;
  font-weight: 300;
  padding: $s-size;
}

.select {
  //get all styles from text-input
  @extend .text-input; 
  }

.text-area {
  @extend .text-input;
  height: 10rem;
}