* {    
  box-sizing: border-box; //set height to height if specified 
}

html {
  font-size: 62.5%; //turns 1rem from 16px to 10px 
}

body {  
  color: $dark-grey;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;  
  line-height: 1.6;  
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: default;
}

ol {
  padding: 0;
}

.is-active {
  color: red;
}