// Colors
$blue: #1388bf;
$grey: #666;
$dark-grey: #333;
$dark-blue: #364051;
$off-white: #f7f7f7;

// FontSizes
$font-size-small: 1.4rem;
$font-size-large: 1.8rem;

// Spacing
$xs-size: .8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;